version: '3.7'

services:
  consul-server1:
    image: consul:1.15.2
    container_name: consul-server1
    restart: always
    volumes:
      - ./server1.json:/consul/config/server1.json:ro
    networks:
      apisix:
        ipv4_address: 172.18.0.2
    ports:
      - '8500:8500'
      - '8600:8600/tcp'
      - '8600:8600/udp'
    command: 'agent -bootstrap-expect=3'

  consul-server2:
    image: consul:1.15.2
    container_name: consul-server2
    restart: always
    volumes:
      - ./server2.json:/consul/config/server2.json:ro
    networks:
      apisix:
        ipv4_address: 172.18.0.3
    command: "agent -bootstrap-expect=3"

  consul-server3:
    image: consul:1.15.2
    container_name: consul-server3
    restart: always
    volumes:
      - ./server3.json:/consul/config/server3.json:ro
    networks:
      apisix:
        ipv4_address: 172.18.0.4
    command: "agent -bootstrap-expect=3"

  itachallenge-mongodb:
    container_name: mongodb-itachallenge
    image: mongo:5.0.9
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: '${MONGODB_USERNAME}'
      MONGO_INITDB_ROOT_PASSWORD: '${MONGODB_PASSWORD}'
      MONGO_INITDB_DATABASE: '${MONGODB_CHALLENGE_DATABASE}'
    ports:
      - '${MONGODB_CONTAINER_PORT}:27017'
    volumes:
      - itachallenge_mongodb_data:/var/lib/mongodb
      - ../itachallenge-challenge/src/main/resources/mongodb-init:/docker-entrypoint-initdb.d
      - ../itachallenge-challenge/src/main/resources/mongodb-test-data:/tmp/data/
    networks:
      apisix:
        ipv4_address: 172.18.0.5

  itachallenge-challenge:
    #image: '${REGISTRY_NAME}:{CHALLENGE_CONTAINER_NAME}-${CHALLENGE_TAG}'
    image: itachallenge:itachallenge-challenge-1.0.0-SNAPSHOT
    container_name: itachallenge-v1.0-SNAPSHOT
    restart: always
    depends_on:
      -  itachallenge-mongodb
    ports:
      - '${CHALLENGE_CONTAINER_PORT}:8763'
    environment:
      - 'spring.data.mongodb.uri=mongodb://${MONGODB_USERNAME}:${MONGODB_PASSWORD}@172.18.0.5:${MONGODB_CONTAINER_PORT}/${MONGODB_CHALLENGE_DATABASE}'
    networks:
      apisix:
        ipv4_address: 172.18.0.6


  itachallenge-nginx: #docker run -it -p 80:80 babcn:nginx-frontend2-v1.0.0-SNAPSHOT
    container_name: nginx-itachallenge
    image: '${REGISTRY_NAME}:nginx-frontend2-${NGINX_FRONTEND_TAG}'
    restart: always
    ports:
      - '${NGINX_CONTAINER_PORT}:80'
    networks:
      apisix:
        ipv4_address: 172.18.0.7

  apisix-gateway:
    container_name: apisix-gateway
    image: apache/apisix:3.5.0-centos
    restart: always
    volumes:
      - ./apisix_conf/apisix_standalone.yaml:/usr/local/apisix/conf/apisix.yaml:ro
    environment:
      APISIX_STAND_ALONE: true
    ports:
      - "9080:9080/tcp"
      - "9091:9091/tcp"
      - "9443:9443/tcp"
    networks:
      apisix:
        ipv4_address: 172.18.0.8

  itachallenge-mock:
    #image: '${REGISTRY_NAME}:{MOCK_CONTAINER_NAME}-${MOCK_TAG}'
    image: itachallenge:itachallenge-mock-v1.0.0-RELEASE
    container_name: itachallenge-mock
    restart: always
    ports:
      - '${MOCK_CONTAINER_PORT}:8762'
    networks:
      apisix:
        ipv4_address: 172.18.0.9

volumes:
  itachallenge_mongodb_data:


networks:
    apisix:
      driver: bridge
      ipam:
        driver: default
        config:
          - subnet: 172.18.0.0/24
#  apisix:
#    driver: bridge
#    ipam:
#      driver: default
#      config:
#        - subnet: 172.18.0.0/16
        #- ip_range: 172.18.5.0/24
        #- gateway: 172.18.5.254
