version: '3.7'

services:
  consul-server1:
    image: consul:1.15.2
    container_name: consul-server1
    restart: always
    volumes:
      - ./server1.json:/consul/config/server1.json:ro
    networks:
      consul-net:
        ipv4_address: 172.24.2.0
    ports:
      - '8500:8500'
      - '8600:8600/tcp'
      - '8600:8600/udp'
    command: 'agent -bootstrap-expect=3'

  consul-server2:
    image: consul:1.15.2
    container_name: consul-server2
    restart: always
    volumes:
      - ./server2.json:/consul/config/server2.json:ro
    networks:
      consul-net:
        ipv4_address: 172.24.2.1
    command: "agent -bootstrap-expect=3"

  consul-server3:
    image: consul:1.15.2
    container_name: consul-server3
    restart: always
    volumes:
      - ./server3.json:/consul/config/server3.json:ro
    networks:
      consul-net:
        ipv4_address: 172.24.2.2
    command: "agent -bootstrap-expect=3"

      #consul-client-mongodb:
      # image: consul:1.12.3
      #container_name: consul-client-mongodb
      #restart: always
      #volumes:
      #- ./consul-client-mongodb.json:/consul/config/client.json:ro
      #networks:
    #consul-net:
    # ipv4_address: 172.24.2.3
    #command: "agent"

  itachallenge-challenge:
    image: ita:challenge-v1.0-SNAPSHOT
    container_name: itachallenge-v1.0-SNAPSHOT
    restart: always
    networks:
      consul-net:
        ipv4_address: 172.24.2.6
    ports:
      - '${CHALLENGE_CONTAINER_PORT}:8763'
    environment:
      - 'spring.data.mongodb.host=172.24.0.1'
      - 'spring.data.mongodb.port=27018'
      - 'spring.data.mongodb.username=admin_itachallenge'
      - 'spring.data.mongodb.password=qcauYwWBx5AXp9S'
      - 'spring.data.mongodb.database=itachallenge'


  itachallenge-mongodb:
    container_name: mongodb-itachallenge
    image: mongo:5.0.9
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin_itachallenge
      MONGO_INITDB_ROOT_PASSWORD: qcauYwWBx5AXp9S
      MONGO_INITDB_DATABASE: itachallenge
    ports:
      - '${MONGODB_CONTAINER_PORT}:27017'
    volumes:
      - itachallenge_mongodb_data:/var/lib/mongodb
      - ../itachallenge-challenge/src/main/resources/mongodb-init:/docker-entrypoint-initdb.d
      - ../itachallenge-challenge/src/main/resources/mongodb-test-data:/tmp/data/
    networks:
      consul-net:
        ipv4_address: 172.24.2.9

  itachallenge-nginx: #docker run -it -p 80:80 babcn:nginx-frontend2-v1.0.0-SNAPSHOT
    container_name: nginx-itachallenge
    image: '${REGISTRY_NAME}:nginx-frontend2-${NGINX_FRONTEND_TAG}'
    restart: always
    ports:
      - '${NGINX_CONTAINER_PORT}:80'
    networks:
      consul-net:
        ipv4_address: 172.24.2.11

  apisix:
    image: apache/apisix:3.5.0-centos
    restart: always
    volumes:
      - ./apisix_conf/config.yaml:/usr/local/apisix/conf/config.yaml:ro
    depends_on:
      - etcd
    ##network_mode: host
    ports:
      - "9180:9180/tcp"
      - "9080:9080/tcp"
      - "9091:9091/tcp"
      - "9443:9443/tcp"
      - "9092:9092/tcp"
    networks:
      consul-net:

  etcd:
    image: bitnami/etcd:3.5.9
    restart: always
    environment:
      ETCD_ENABLE_V2: true
      ALLOW_NONE_AUTHENTICATION: yes
      ETCD_ADVERTISE_CLIENT_URLS: "http://etcd:2379"
      ETCD_LISTEN_CLIENT_URLS: "http://0.0.0.0:2379"
    ports:
      - 2379:2379/tcp
    networks:
      consul-net:
        #ipv4_address: 172.24.2.10

volumes:
  itachallenge_mongodb_data:

networks:
  consul-net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.24.2.0/16
        - gateway: 172.24.2.254
