spring:
  application:
    name: itachallenge-score
    version: 2.0.0-RELEASE
  jmx:
    enabled: true


springdoc:
  swagger-ui:
    path: "/swagger-ui-custom.html"
    operationsSorted: method
  api-docs:
    enable: true
    path: "/api-docs"

server:
  port: 8763

management:
  endpoints:
    web:
      exposure:
        include: "*"
  security:
    enabled: false




logging:
  level:
    root: INFO
    "[org.springframework]": ERROR
    "[com.businessassistantbcn]": INFO
  pattern:
  # console: Spring's default
    file: "%date %5level %-40.40logger{39} [%thread] %msg%n"
#  file:
#    name: itachallenge-score.log

validation:
  number: yourDefaultValue
  mongodb_pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"

  code:
    execution:
      template: |
        public class Main {
            public static void main(String[] args) {
                %s
            }
        }

