name: Upload Image to Docker Hub
on:
  push:
    branches:
      - workflow

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout code
        uses: actions/checkout@v3
      -
        name: Load env from file
        run: |
          echo "Loading env vars from .env file"
          while IFS='=' read -r key value
          do
            key=$(echo $key | tr '.' '_')
            echo "$key=$value" >> $GITHUB_ENV
          done < conf/.env.CI.dev
          echo "Done"
      -
        name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
      -
        name: Cache Gradle packages
        uses: actions/cache@v3
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
      -
        name: Build
        run: ./gradlew :${{ env.MICROSERVICE_DEPLOY }}:build
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ${{ env.MICROSERVICE_DEPLOY }}
          push: true
          tags: itacademybcn/itachallenges:${{ env.MICROSERVICE_DEPLOY}}-${{ env.MICROSERVICE_VERSION }}